MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=monitoring progress RFQ
EMAIL_NOTIFICATIONS_ENABLED=true

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_STARTTLS=true
SMTP_USER=AKUN@gmail.com
SMTP_PASSWORD=APP PASWORD
SMTP_FROM=AKUN@gmail.com

MARKETING_SMTP_HOST=smtp.gmail.com
MARKETING_SMTP_PORT=587
MARKETING_SMTP_STARTTLS=true
MARKETING_SMTP_USER=AKUN@gmail.com
MARKETING_SMTP_PASSWORD=APP PASWORD
MARKETING_SMTP_FROM=AKUN@gmail.com

ENGINEERING_SMTP_HOST=smtp.gmail.com
ENGINEERING_SMTP_PORT=587
ENGINEERING_SMTP_STARTTLS=true
ENGINEERING_SMTP_USER=AKUN@gmail.com
ENGINEERING_SMTP_PASSWORD=APP PASWORD
ENGINEERING_SMTP_FROM=AKUN@gmail.com

PURCHASING_SMTP_HOST=smtp.gmail.com
PURCHASING_SMTP_PORT=587
PURCHASING_SMTP_STARTTLS=true
PURCHASING_SMTP_USER=AKUN@gmail.com
PURCHASING_SMTP_PASSWORD=APP PASWORD
PURCHASING_SMTP_FROM=AKUN@gmail.com

MANAGEMENT_SMTP_HOST=smtp.gmail.com
MANAGEMENT_SMTP_PORT=587
MANAGEMENT_SMTP_STARTTLS=true
MANAGEMENT_SMTP_USER=AKUN@gmail.com
MANAGEMENT_SMTP_PASSWORD=APP PASWORD
MANAGEMENT_SMTP_FROM=AKUN@gmail.com

NOTIFY_MANAGEMENT_CC=true
